# Virtual environment
.venv/
venv/

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# Jupyter / notebooks
.ipynb_checkpoints/

# Streamlit & local config
.streamlit/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

#hello